//gitlab.com/api/v4/projects/29452185/packages/npm/:_authToken=7-ZzVXcrSxSCn59uB6TT
@momo-platform:registry=https://gitlab.com/api/v4/projects/29452185/packages/npm/
//gitlab.com/api/v4/projects/35720880/packages/npm/:_authToken=glpat-ws6-KB7xspYfmVyJgoYf
@momo-dna-team:registry=https://gitlab.com/api/v4/projects/35720880/packages/npm/
