<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944318847741-gb60139lsfe4dq64nh471kjhsjginuk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944318847741-gb60139lsfe4dq64nh471kjhsjginuk4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944318847741-cqckktvhbr2p7gg33aa6c0c2hpiv3803.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoFZBnFJnyvMdFVbq1GBjvIlJi5-UAdq0</string>
	<key>GCM_SENDER_ID</key>
	<string>944318847741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.org.football.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>crashlyticsfootballapp</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlyticsfootballapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944318847741:ios:c9b52910f3ae2deefb3c94</string>
</dict>
</plist>