<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090944091439-e7a80kic7at0ld1cq5s687ck7ri1qmq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090944091439-e7a80kic7at0ld1cq5s687ck7ri1qmq3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090944091439-mk55fcuj0bb49scsdomiljfh8563e4v6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9x2rwgpCvYBTYmRIH1PidVTxYrPvsds0</string>
	<key>GCM_SENDER_ID</key>
	<string>1090944091439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.org.football.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>football-association-a5922</string>
	<key>STORAGE_BUCKET</key>
	<string>football-association-a5922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090944091439:ios:64aa45f50775792334cdda</string>
</dict>
</plist>